#NET "led_c" LOC="G15" | IOSTANDARD=LVCMOS33;
NET "led" LOC="G14" | IOSTANDARD=LVCMOS33;
NET "button" LOC="G15" | IOSTANDARD=LVCMOS33;

NET "imx_da<7>" LOC="P11" | IOSTANDARD=LVCMOS33;# EIM_DA7
NET "imx_cs_n" LOC="R11" | IOSTANDARD=LVCMOS33;# EIM_CS1
NET "imx_da<6>" LOC="M11" | IOSTANDARD=LVCMOS33;# EIM_DA6
NET "imx_da<5>" LOC="N11" | IOSTANDARD=LVCMOS33;# EIM_DA5
NET "imx_da<13>" LOC="R10" | IOSTANDARD=LVCMOS33;# EIM_DA13
NET "imx_da<12>" LOC="L9" | IOSTANDARD=LVCMOS33;# EIM_DA12
NET "imx_da<11>" LOC="M10" | IOSTANDARD=LVCMOS33;# EIM_DA11
NET "imx_adv" LOC="R9" | IOSTANDARD=LVCMOS33;# EIM_LBA
NET "ext_clk" LOC="N8" | IOSTANDARD=LVCMOS33;# IO_L29P_GCLK3_2
NET "ext_clk" TNM_NET = "ext_clk";
TIMESPEC "TS_ext_clk" = PERIOD "ext_clk" 10.5263 ns HIGH 50 %;
NET "imx_da<10>" LOC="M8" | IOSTANDARD=LVCMOS33;# EIM_DA10
NET "imx_da<9>" LOC="K8" | IOSTANDARD=LVCMOS33;# EIM_DA9
NET "imx_da<8>" LOC="L8" | IOSTANDARD=LVCMOS33;# EIM_DA8
NET "imx_da<0>" LOC="N6" | IOSTANDARD=LVCMOS33;# EIM_DA0
NET "imx_rw" LOC="R6" | IOSTANDARD=LVCMOS33;# EIM_RW
NET "imx_da<4>" LOC="P5" | IOSTANDARD=LVCMOS33;# EIM_DA4
NET "imx_da<3>" LOC="R5" | IOSTANDARD=LVCMOS33;# EIM_DA3
NET "imx_da<2>" LOC="L6" | IOSTANDARD=LVCMOS33;# EIM_DA2
NET "imx_da<1>" LOC="L5" | IOSTANDARD=LVCMOS33;# EIM_DA1
NET "imx_da<15>" LOC="M5" | IOSTANDARD=LVCMOS33;# EIM_DA15
NET "imx_da<14>" LOC="N5" | IOSTANDARD=LVCMOS33;# EIM_DA14

NET "gls_irq" LOC="P3" | IOSTANDARD=LVCMOS33;# FPGA_INITB

#camera pin map

NET	"OV7670_VSYNC"	LOC="J2" | IOSTANDARD=LVCMOS33;
NET	"OV7670_HREF"	LOC="J3" | IOSTANDARD=LVCMOS33;
NET	"OV7670_PCLK"	LOC="K4" | IOSTANDARD=LVCMOS33;
NET	"OV7670_D<0>"	LOC="H1" | IOSTANDARD=LVCMOS33;
NET	"OV7670_D<1>"	LOC="K3" | IOSTANDARD=LVCMOS33;
NET	"OV7670_D<2>"	LOC="K1" | IOSTANDARD=LVCMOS33;
NET	"OV7670_D<3>"	LOC="D4" | IOSTANDARD=LVCMOS33;
NET	"OV7670_D<4>"	LOC="E3" | IOSTANDARD=LVCMOS33;
NET	"OV7670_D<5>"	LOC="C2" | IOSTANDARD=LVCMOS33;
NET	"OV7670_D<6>"	LOC="C1" | IOSTANDARD=LVCMOS33;
NET	"OV7670_D<7>"	LOC="K5" | IOSTANDARD=LVCMOS33;
NET	"OV7670_SIOC"  	LOC="L2" | IOSTANDARD=LVCMOS33;
NET	"OV7670_SIOD" 	LOC="J1" | IOSTANDARD=LVCMOS33;
NET	"OV7670_RESET" 	LOC="H3" | IOSTANDARD=LVCMOS33;
NET	"OV7670_PWDN"  	LOC="G1" | IOSTANDARD=LVCMOS33;
NET	"OV7670_XCLK"  	LOC="J4" | IOSTANDARD=LVCMOS33;
#end
